<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mute Swan</title>
    <link rel="manifest" href="/manifest.webmanifest?v={{ version }}">
    <link rel="icon" href="/assets/icons/favicon.svg?v={{ version }}">
    <link rel="mask-icon" href="/assets/icons/mask-icon.svg?v={{ version }}" color="#202127">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v={{ version }}">
    <meta name="apple-mobile-web-app-title" content="Mute Swan">
    <meta name="application-name" content="Mute Swan">
    <meta name="theme-color" content="#202127">
    <style type="text/css" data-hash="{{ css-hash }}">{{ css }}</style>
  </head>
  <body>
    <div id="muteswan">{{ render }}</div>
    <script async type="module" src="/assets/muteswan.js?v={{ version }}"></script>
  </body>
</html>
